<a href="https://colab.research.google.com/github/zidanematheus/exemplo-colaboratory/blob/main/Exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Exercício 1

print(f'Olá, Mundo!')

Olá, Mundo!

In [ ]:
# Exercício 2

num = input('Digite um número: ')
print(f'O número digitado foi: {num}')

num = float(input('Digite um número: '))
print(f'O número digitado foi: {num}')

Digite um número: 5
O número digitado foi: 5
Digite um número: 4
O número digitado foi: 4.0

In [ ]:
# Exercício 3

nome = input('Digite seu nome: ').strip().title()
sobrenome = input('Digite seu sobrenome: ').strip().title()
print(f'Seu nome completo é: {nome} {sobrenome}!')

Digite seu nome: matheus
Digite seu sobrenome: lima da silva
Seu nome completo é: Matheus Lima Da Silva!

In [ ]:
# Exercício 4

n1 = int(input('Digite o primeiro número: '))
n2 = int(input('Digite o segundo número: '))
n3 = int(input('Digite o terceiro número: '))
print(f'{n1}+{n2}+{n3} = { n1 + n2 + n3 }')

Digite o primeiro número: 2
Digite o segundo número: 3
Digite o terceiro número: 4
2+3+4 = 9

In [ ]:
# Exercício 5

n1 = float(input('Nota 1: '))
n2 = float(input('Nota 2: '))
media = (n1 + n2) / 2
print(f'A média das notas é: {media}')

Nota 1: 7.5
Nota 2: 2.5
A média das notas é: 5.0

In [ ]:
# Exercício 6

n = int(input('Digite um número: '))
r = n * n
print(f'A raiz quadrada de {n} é: {r}')

Digite um número: 3
A raiz quadrada de 3 é 9

In [ ]:
# Exercício 7

n1 = float(input('N° 1: '))
n2 = float(input('N° 2: '))
n3 = float(input('N° 3: '))
n4 = float(input('N° 4: '))
n5 = float(input('N° 5: '))
media = ( n1 + n2 + n3 + n4 + n5 ) / 5
print(f'A média dos 5 números digitados é {media}')

Digite o n° 1: 1
Digite o n° 2: 2
Digite o n° 3: 3
Digite o n° 4: 4
Digite o n° 5: 5
A média dos 5 números digitados é 3.0

In [ ]:
# Exercício 8

num = float(input('Digite um valor em metros: '))
print(f'{num} metros equivale a {num/1000} quilometros')

Digite um valor em metros: 1
1.0 metros equivale a 0.001 quilometros

In [ ]:
# Exercício 9

from math import pi
raio = float(input('Digite o valor do raio da circunferência: '))
print(f'Área da circunferência: {pi*raio**2:.2f}')

Digite o valor do raio da circunferência: 3
Área da circunferência: 28.27

In [ ]:
# Exercício 10

f = float(input('Temperatura em Fahrenheit: '))
c = 5 * ((f-32)/9)
print(f'{f:.2f}ºF equivale a {c:.2f}ºC')

Temperatura em Fahrenheit: 50
50.00ºF equivale a 10.00ºC

In [ ]:
# Exercício 11

n1 = float(input('Número 1: '))
n2 = float(input('Número 2: '))
print(f'{n1} x {n2} = {n1 * n2}\n{n1} / {n2} = {n1 / 2}')

Número 1: 3
Número 2: 3
3.0 x 3.0 = 9.0
3.0 / 3.0 = 1.5

In [ ]:
# Exercício 12

nome = input('Nome: ')
sobrenome = input('Sobrenome: ')
idade = int(input('Idade: '))
print(f'Seja bem-vindo(a) {nome.strip().title()} {sobrenome.strip().title()}')
print(f'Você possui {idade} anos de idade.')

Nome: matheus
Sobrenome: lima da silva andrade
Idade: 28
Seja bem-vindo(a) Matheus Lima Da Silva Andrade
Você possui 28 anos de idade.

In [ ]:
# Exercício 13

n = input('Digite um número: ')
n = float(n)
print(type(n))

Digite um número: 5
<class 'float'>

In [ ]:
# Exercício 14

nome = input('Nome: ')
idade = int(input('Idade: '))
if idade >= 18:
  print(f'Seja bem-vindo ao nosso site {nome.strip().title()}!')
else:
  print(f'Você não pode acessar nosso site {nome.strip().title()}.')

Nome: matheus
Idade: 17
Você não pode acessar nosso site Matheus.

In [ ]:
# Exercício 15

from math import hypot

cateto_a = float(input('Cateto adjacente: '))
cateto_o = float(input('Cateto oposto: '))

# Forma de cálculo 1
hipotenusa1 = (cateto_a**2+cateto_o**2)**(1/2)

# Forma de cálculo 2
hipotenusa2 = hypot(cateto_a,cateto_o)

print(f'Hipotenusa: {hipotenusa1}')
print(f'Hipotenusa: {hipotenusa2}')

Cateto adjacente: 10
Cateto oposto: 10
Hipotenusa: 14.142135623730951
Hipotenusa: 14.142135623730951

In [ ]:
# Exercício 16

from math import factorial
num = int(input('Digite um número inteiro: '))
fatorial = factorial(num)
print(f'O fatorial de {num} é {fatorial}')

Digite um número inteiro: 5
O fatorial de 5 é 120

In [ ]:
# Exercício 17

from math import log, log10
num = float(input('Digite um número: '))
log1 = log10(num)
log2 = log(num, 2)
print(f'O log de {num} na base 10 é {log1}')
print(f'O log de {num} na base 2 é {log2}')

Digite um número: 12
O log de 12.0 na base 10 é 1.0791812460476249
O log de 12.0 na base 2 é 3.5849625007211565

In [ ]:
# Exercício 18

base = float(input('Digite a base do retângulo: '))
altura = float(input('Digite a altura do retângulo: '))

area = base * altura
perimetro = 2 * base + 2 * altura

print(f'O retângulo digitado tem base {base} e altura {altura}.')
print(f'A área deste retângulo é: {area}.')
print(f'O perímetro deste retângulo é: {perimetro}.')

Digite a base do retângulo: 2
Digite a altura do retângulo: 4
O retângulo digitado tem base 2.0 e altura 4.0.
A área deste retângulo é: 8.0.
O perímetro deste retângulo é: 12.0.

In [ ]:
# Exercício 19

nome = input('Nome: ').strip().title()
sobrenome = input('Sobrenome: ').strip().title()
salario = float(input('Salário: '))
salario1 = salario + salario * 0.1  #salário com 10% de aumento
salario2 = salario + salario * 0.25  #salário com 25% de aumento
salario3 = salario + salario * 0.3  #salário com 30% de aumento
salario4 = salario + salario * 0.5  #salário com 50% de aumento
print(f'Olá, {nome} {sobrenome}!')
print(f'Seu salário atual é: R$ {salario:.2f}.')
print(f'Seu salário com 10% de aumento é: R$ {salario1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario2:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario4:.2f}')

Nome: matheus
Sobrenome: lima da silva andrade
Salário: 1483
Olá, Matheus Lima Da Silva Andrade!
Seu salário atual é: R$ 1483.00.
Seu salário com 10% de aumento é: R$ 1631.30
Seu salário com 25% de aumento é: R$ 1853.75
Seu salário com 30% de aumento é: R$ 1927.90
Seu salário com 50% de aumento é: R$ 2224.50

In [ ]:
# Exercício 20

num = int(input('Digite um número inteiro: '))
print(f'Tabuada do número {num}.')
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')
print(f'{num} x 10 = {num*10}')

Digite um número inteiro: 2
Tabuada do número 2.
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
# Exercício 21

num = int(input('Digite um número inteiro: '))
print(f'O valor absoluto de {num} é: {abs(num)}.')

Digite um número inteiro: 3
O valor absoluto de 3 é: 3.

In [ ]:
# Exercício 22

string = input('Digite algo: ').strip().title()
print(f'Você digitou: {string}')
print(f'A quantidade de caracteres que você digitou é: {len(string)}.')

Digite algo: matheus
Você digitou: Matheus
A quantidade de caracteres que você digitou é: 7.

In [ ]:
# Exercício 23

num = int(input('Digite um número inteiro: '))
if num % 2 == 0:
  print(f'O número {num} é par.')
else:
  print(f'O número {num} é ímpar.')

Digite um número inteiro: 6
O número 6 é par.

In [ ]:
# Exercício 24

print('Cálculo do IMC')
nome = input('Nome: ').strip().title()
idade = int(input('Idade: '))
peso = float(input('Peso: '))
altura = float(input('Altura: '))
imc = peso / (altura * altura)
print('Processando seus dados...')
if imc < 17:
  print(f'Muito abaixo do peso ideal.')
elif 17 <= imc < 18.5:
  print(f'Abaixo do peso.')
elif 18.5 <= imc < 25:
  print(f'Peso normal.')
elif 25 <= imc < 30:
  print(f'Acima do peso.')
elif 30 <= imc < 35:
  print(f'Obesidade I.')
elif 35 <= imc < 40:
  print(f'Obesidade II (Severa).')
else:
  print(f'Obesidade III (Morbida).')

Cálculo do IMC
Nome: matheus
Idade: 28
Peso: 59
Altura: 1.74
Processando seus dados...
Peso normal.

In [ ]:
# Exercício 25

n1 = float(input('Valor 1: '))
n2 = float(input('Valor 2: '))
if n1 > n2:
  print(f'{n1} é maior que {n2}.')
elif n1 < n2:
  print(f'{n2} é maior que {n1}')
else:
  print(f'Os dois valores são iguais.')

Valor 1: 1.1
Valor 2: 1.1
Os dois valores são iguais.

In [ ]:
# Exercício 26

num = float(input('Digite um número: '))
if num > 0:
  print(f'Número positivo.')
elif num == 0:
  print(f'Número nulo.')
else:
  print('Número negativo.')

Digite um número: -1
Número negativo.

In [ ]:
# Exercício 27

n1 = float(input('Valor 1: '))
n2 = float(input('Valor 2: '))
n3 = float(input('Valor 3: '))
if ( n1 >= n2 ) and ( n1 >= n3 ):
  print(f'Maior valor: {n1}.')
elif (n2 >= n1) and ( n2 >= n3):
  print(f'Maior valor: {n2}.')
else:
  print(f'Maior valor: {n3}.')

Valor 1: 1
Valor 2: 2
Valor 3: 3
Maior valor: 3.0.

In [ ]:
# Exercício 28

import random
n = random.randint(1, 100)
print(n)

38

In [ ]:
# Exercício 29

ano = int(input('Ano: '))
if ano%400==0 or (ano%4==0 and not ano%100==0):
  print(f'Ano bissexto.')
else:
  print(f'Não é ano bissexto.')

Ano: 2024
Ano bissexto.

In [ ]:
# Exercício 30

string = input('Digite algo: ')
print(len(string))

Digite algo: matheus
7

In [ ]:
# Exercício 31

import datetime

data_atual = datetime.datetime.now()
print(data_atual.strftime('%d/%m/%Y - %H:%M:%S'))

31/01/2024 - 13:39:15

In [ ]:
# Exercício 32

string1 = 'Hello World'
string2 = 'Python'
print(string1)
print(string2)
print(string1[::-1])
print(string2[::-1])

Hello World
Python
dlroW olleH
nohtyP

In [ ]:
# Exercício 33

import calendar
print(calendar.month(2024, 1))

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
# Exercício 34

import calendar
ano = int(input('Ano: '))
mes = int(input('Mês: '))
print(calendar.month(ano, mes))

Ano: 2024
Mês: 1
    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
# Exercício 35

categoria = int(input('Digite a categoria do produto: '))
if categoria == 1:
  print('O preço do produto é: $ 0.5.')
elif categoria == 2:
  print('O preço do produto é: $ 11.3.')
elif categoria == 3:
  print('O preço do produto é: $ 17.5.')
elif categoria == 4:
  print('O preço do produto é: $ 33.97.')
elif categoria == 5:
  print('O preço do produto é: $ 103.47.')
elif categoria == 6:
  print('O preço do produto é: $ 44.67.')
elif categoria == 7:
  print('O preço do produto é: $ 12.55.')
elif categoria == 8:
  print('O preço do produto é: $ 14.87.')
elif categoria == 9:
  print('O preço do produto é: $ 98.12.')
elif categoria == 10:
  print('O preço do produto é: $ 131.4.')
else:
  print('Opção inválida.')

Digite a categoria do produto: 11
Opção inválida.

In [2]:
# Exercício 36

categoria = int(input('Categoria do produto: '))
if categoria == 1:
  print('Preço: $0.5')
else:
  if categoria == 2:
    print('Preço: $11.35')
  else:
    if categoria == 3:
      print('Preço: $17.5')
    else:
      if categoria == 4:
        print('Preço: $33.97')
      else:
        if categoria == 5:
          print('Preço: $103.47')
        else:
          if categoria == 6:
            print('Preço: $44.67')
          else:
            if categoria == 7:
              print('Preço: $12.55')
            else:
              if categoria == 8:
                print('Preço: $14.87')
              else:
                print('Categoria inválida.')

Categoria do produto: 2
Preço: $11.35

In [4]:
# Exercício 37

letra = input('Digite uma letra: ')
vogais = ['a', 'e', 'i', 'o', 'u']
if letra in vogais:
  print('A letra digitada é uma vogal.')
else:
  print('A letra digitada é uma consoante.')

Digite uma letra: b
A letra digitada é uma consoante.

In [8]:
# Exercício 38

ladoa = float(input('Lado A: '))
ladob = float(input('Lado B: '))
ladoc = float(input('Lado C: '))
if ladoa == ladob == ladoc:
  print('O triângulo é equilátero.')
elif ladoa == ladob or ladoa == ladoc or ladob == ladoc:
  print('O triângulo é isósceles.')
else:
  print('O triângulo é escaleno.')

Lado A: 1
Lado B: 2
Lado C: 3
O triângulo é escaleno.

In [14]:
# Exercício 39

operacao = input('Escolha a operação desejada (+, -, *, /): ')
if operacao in ['+', '-', '/', '*']:
  n1 = float(input('Número 1: '))
  n2 = float(input('Número 2: '))
  if operacao == '+':
    print(f'{n1} + {n2} = { n1 + n2 }')
  elif operacao == '-':
    print(f'{n1} - {n2} = { n1 - n2 }')
  elif operacao == '*':
    print(f'{n1} * {n2} = { n1 * n2 }')
  else:
    if n2 == 0:
      print('O denominador precisa ser diferente de zero.')
    else:
      print(f'{n1} / {n2} = { n1 / n2 }')
else:
  print('Opção inválida.')

Escolha a operação desejada (+, -, *, /): /
Número 1: 4
Número 2: 0
O denominador precisa ser diferente de zero.

In [16]:
# Exercício 40

for n in range(1, 51):
  print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [21]:
# Exercício 41

for n in range(50, 0, -1):
  print(n)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [22]:
# Exercício 42

for n in range(150, 201):
  print(n)

150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

In [24]:
# Exercício 43

for n in range(5, -1, -1):
  print(n)

5
4
3
2
1
0

In [25]:
# Exercício 44

n = int(input('Digite um número: '))

for valor in range( 1, n + 1 ):
  print(valor)

Digite um número: 5
1
2
3
4
5

In [27]:
# Exercício 45

lista = []
x = 1

# Armazenando os números na lista

while len(lista) < 20:
  if x % 5 == 0:
    lista.append(x)
    x+=1
  x+=1

# Mostrando os números na tela

for n in lista:
  print(n)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [29]:
# Exercício 46

valor = int(input('Tabuada: '))
for n in range(1, 11):
  print(f'{valor} x {n} = {valor * n}')

Tabuada: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [33]:
# Exercício 47

for valor in range(1, 11):
  for numero in range(1, 11):
    print(f'{valor} * {numero} = {valor * numero}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [39]:
# Exercício 48

x = 1
for i in range(1, 11):
  print(i)
  if i == 10:
    while x <= 10:
      print(x)
      x+=1
      if x == 11:
        y = 1
        while y <= 10:
          print(y)
          y+=1
          if y == 11:
            print('Fim.')

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim.

In [41]:
# Exercício 49

n = 0
while 0 <= n <= 10:
  n = int(input('Insira um número inteiro entre 0 e 10: '))
  if n < 0 or n > 10:
    print('Fim do programa.')

Insira um número inteiro entre 0 e 10: 7
Insira um número inteiro entre 0 e 10: 6
Insira um número inteiro entre 0 e 10: 5
Insira um número inteiro entre 0 e 10: 4
Insira um número inteiro entre 0 e 10: 3
Insira um número inteiro entre 0 e 10: 2
Insira um número inteiro entre 0 e 10: 1
Insira um número inteiro entre 0 e 10: 0
Insira um número inteiro entre 0 e 10: 11
Fim do programa.

In [46]:
# Exercício 50

for i in range(0, 6):
  print(i)

  if i == 5:
    for j in range(0, 6):
      print(j)

      if j == 5:
        for k in range(0, 6):
          print(k)

        if k == 5:
          for l in range(0, 6):
            print(l)

            if l == 5:
              for m in range(0, 6):
                print(m)

                if m == 5:
                  print('Fim do programa.')

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim do programa.